{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <h1>Page reservation</h1>
    <p>{{ reservation.utilisateur.nom }}</p>
    <p>{{ reservation.utilisateur.prenom }}</p>
    <p>{{ reservation.contrardebut }}</p>
    <p>{{ reservation.contratfin }}</p>
    <p>{{ reservation.mdp }}</p>
    <p>{{ reservation.imageFile }}</p>
    <p>{{reservation.objet }}</p>
{% endblock %}