{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

 {% block stylesheets %}
     <link rel="dns-prefetch" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
     <link rel="icon" href="Favicon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="login-form">
        <div class="container center" align="center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 align="center"><img src="{{ asset('build/images/van.png') }}" alt="Logo" width="150"
                                                height="150"><br/>Tunisia Trip</h1>
                        <form method="post">
                            {% if error %}
                                <div class="col s12 m6 l6 offset-m3 offset-l3">
                                    <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                                </div>
                            {% endif %}
                            <br/>
                            {% if app.user is not null and app.user.isVerified is not null and app.user.isVerified != 1 %}
                                <div class="col s12 m6 l6 offset-m3 offset-l3" style="color:red">
                                    <span class="error">Vous devez activer votre compte</span>
                                </div>
                                <br/>
                            {% elseif app.user %}
                                <div class="col s12 m6 l6 offset-m3 offset-l3">
                                    Tu es actuellement connect&#xE9; en tant que {{ app.user.username }}, <a
                                            href="{{ path('app_logout') }}">D&#xE9;connecte-toi</a>
                                </div>
                                <br/>
                            {% endif %}

                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                                <div class="col-md-6">
                                    <input type="text" value="{{ last_username }}" name="login" id="inputLogin"
                                           class="form-control"
                                           autocomplete="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="motDePasse" class="col-md-4 col-form-label text-md-right">Mot de
                                    passe</label>
                                <div class="col-md-6">
                                    <input type="password" name="password" id="inputPassword" class="form-control"
                                           required
                                           placeholder="Mot de passe"></div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember me"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Se connecter
                                </button>
                                <a href="#" class="btn btn-link">
                                    Mot de passe oublié?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
