{% extends 'front.html.twig' %}

{% block title %}All Reclamation{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>

            <th>User</th>
            <th>Objet</th>
            <th>Contratfin</th>
            <th>Contratdebut</th>
            <th>Id</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody id="rech">
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.user.nom }}</td>
                <td>{{ reservation.objet.nom }}</td>
                <td>{{ reservation.contratfin ? reservation.contratfin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.contratdebut ? reservation.contratdebut|date('Y-m-d') : '' }}</td>                <td>{{ reservation.id }}</td>


                <td>
                    <a href="{{ path('reservation_delete', {'id': reservation.id}) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ path('reserv_edit', {'id': reservation.id}) }}" class="btn btn-primary">edit</a>
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
