{% extends 'base.html.twig' %}

{% block title %}Hello MaisonHoteController!{% endblock %}

{% block body %}
    {% set i = 1 %}
    {% for maisonHote in maisonsHote %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ maisonHote.nbChambres }}</td>
            <td>{{ maisonHote.nbPersonnes }}</td>
            <td>{{ maisonHote.avecPiscine }}</td>
            <td>{{ maisonHote.avecParking }}</td>
            <td>{{ maisonHote.avecPlage }}</td>
            <td>{{ maisonHote.adresse }}</td>
            <td>{{ maisonHote.avecPetitDejInclus }}</td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
{% endblock %}
