{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}
    <h1>Page utilisateur</h1>
    <p>{{ utilisateur.nom }}</p>
    <p>{{ utilisateur.prenom }}</p>
    <p>{{ utilisateur.email }}</p>
    <p>{{ utilisateur.cin }}</p>
    <p>{{ utilisateur.passeport }}</p>
    <p>{{ utilisateur.login }}</p>
    <p>{{ utilisateur.mdp }}</p>
    <p>{{ utilisateur.imageFile }}</p>
    <p>{{ utilisateur.role }}</p>
{% endblock %}