{% extends 'base.html.twig' %}

{% block title %}Hello MaisonController!{% endblock %}

{% block body %}
    {% set i = 1 %}
    {% for maison in maisons %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ maison.nbChambres }}</td>
            <td>{{ maison.nbPersonnes }}</td>
            <td>{{ maison.avecPiscine }}</td>
            <td>{{ maison.avecParking }}</td>
            <td>{{ maison.avecPlage }}</td>
            <td>{{ maison.adresse }}</td>
            <td>{{ maison.surfaceJardin }}</td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
{% endblock %}
