{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block body %}
    {% set i = 1 %}
    {% for hotel in hotels %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ hotel.nbChambres }}</td>
            <td>{{ hotel.nbPersonnes }}</td>
            <td>{{ hotel.avecPiscine }}</td>
            <td>{{ hotel.avecParking }}</td>
            <td>{{ hotel.avecPlage }}</td>
            <td>{{ hotel.adresse }}</td>
            <td>{{ hotel.nbEtoiles }}</td>
            <td>{{ hotel.formule }}</td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
{% endblock %}
